---
import Layout from '../layouts/Layout.astro';
import burgersData from '../data/burgers.json';
import ProductCard from '../components/ProductCard.astro';

interface ProductCardProps {
  title: string;
  description: string;
  image: string;
  price: number;
}

---

<Layout>
	<div class="w-full min-h-screen relative">
    <div class="w-full h-screen text-white fixed top-0 left-0 z-0 flex flex-col items-center pt-48 bg-[url('/burg-wallp.jpg')] bg-cover bg-center bg-no-repeat">
      <div class="absolute inset-0 bg-black/50" /> {/* Overlay oscuro */}
      <h1 class="text-center z-10 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold">HAMBURGUESERIA</h1>
      <a class="mt-12 p-4 bg-yellow-400 text-black font-extrabold rounded-2xl text-lg z-10 shadow-lg shadow-black/60" href="#tienda">
        Nuestro Menú
      </a>
      <span class="sr-only">Imagen de una hamburguesa deliciosa</span>
    </div>  
    <div class="w-full text-white bg-black/50 backdrop-blur-lg relative z-10 mt-[100vh] flex flex-col pt-16 pb-32 items-center">
      <h2 class="text-3xl font-extrabold text-center" transition:name="hamburgueseria-about">
        ¡Bienvenido a la Hamburgueseria!
      </h2>
      <p class="text-center mt-12 px-6 text-lg font-bold max-w-[600px]">
        Disfruta de las mejores hamburguesas artesanales con ingredientes frescos y de alta calidad. Nuestro sabor único te hará volver por más. 
      </p>
    </div>

    <div id="tienda" class="w-full min-h-screen bg-white relative z-10 flex flex-col items-center pt-16 pb-12">
      <h2 class="text-3xl font-bold mb-12">
        Nuestro Menú
      </h2>
      <div class="w-full max-w-7xl flex flex-wrap justify-center gap-6 px-4">
        {burgersData.burgers.map((burger) => (
          <ProductCard
            id={burger.id}
            title={burger.title}
            description={burger.description}
            image={burger.image}
            price={burger.price}
          />
        ))}
      </div>
    </div>
	</div>  
</Layout>
